<%= render partial: 'form_errors', locals: { model: @customer } %>

<%= form_for @customer do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </p>

  <p>
    <%= form.label :zip_code %><br>
    <%= form.text_field :zip_code %>
  </p>

  <p>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </p>

  <p>
    <%= form.label :phone_number %><br>
    <%= form.text_field :phone_number %>
  </p>

  <%= form.submit %>
<% end %>
