<h1>
  <span class="oi" data-glyph="document"></span>
  Orders
</h1>

<div class="order-filters">
  <div class="<%= order_filters_active_class(:all) %>">
    <%= link_to({}) do %>
      <span class="oi" data-glyph="infinity"></span>
      Show all orders
    <% end %>
  </div>

  <div class="<%= order_filters_active_class(:paid) %>">
    <%= link_to paid: true do %>
      <span class="oi" data-glyph="dollar"></span>
      Show paid orders
    <% end %>
  </div>

  <div class="<%= order_filters_active_class(:delivered) %>">
    <%= link_to delivered: true do %>
      <span class="oi" data-glyph="check"></span>
      Show delivered orders
    <% end %>
  </div>
</div>

<table>
  <thead>
    <th>Order #</th>
    <th>Amount</th>
    <th>Customer</th>
    <th>Placed at</th>
    <th>Paid at</th>
    <th>Delivered at</th>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, customer_order_path(order.customer, order) %></td>
        <td><%= formatted_price_with_currency(order.price_cents) %></td>
        <td><%= link_to order.customer.name, order.customer %></td>
        <td><%= format_timestamp(order.placed_at) %></td>
        <td><%= format_timestamp(order.paid_at) %></td>
        <td><%= format_timestamp(order.delivered_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
