<p>
  <%= @cart.products.count %> products in
  <%= link_to cart_path do %>
    <span class="oi" data-glyph="cart"></span>
    cart
  <% end %>
  .
</p>

<h1>
  <span class="oi" data-glyph="box"></span>
  Products
</h1>

<table>
  <thead>
    <th></th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <% if product.image.present? %>
            <%= link_to image_tag(url_for(product.image), width: 50), product %>
          <% end %>
        </td>
        <td><%= link_to product.name, product %></td>
        <td>
          <%= form_for @cart, url: cart_path, method: :patch do |form| %>
            <%= form.hidden_field :product_id, value: product.id %>
            <%= form.number_field :amount, value: 0, step: 1 %>
            <%= form.submit 'Add to cart' %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_product_path(product) do %>
            <span class="oi" data-glyph="pencil"></span>
            Edit
          <% end %>
        </td>
        <td>
          <%= form_with model: product, data: {'turbo-confirm': "Are you sure?"}, method: :delete do |f| %>
            <div class='submit' onclick="event.target.parentElement.requestSubmit()">
              <span class="oi" data-glyph="circle-x"></span>
              Delete
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_product_path do %>
  <span class="oi" data-glyph="plus"></span>
  New product
<% end %>