<!DOCTYPE html>
<html>
  <head>
    <title>CustomerDatabase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navigation">
      <%= link_to customers_path do %>
        <span class="oi" data-glyph="people"></span>
        Customers
      <% end %>
      <%= link_to orders_path do %>
        <span class="oi" data-glyph="document"></span>
        Orders
      <% end %>
      <%= link_to products_path do %>
        <span class="oi" data-glyph="box"></span>
        Products
      <% end %>
    </div>


    <div class="content">
      <% if flash[:notice] %>
        <div class="flash flash-notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="flash flash-alert"><%= flash[:alert] %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
